- epic = local_assigns[:epic].present?
%li
  %h2
    = headline

  %ul{ id: "#{headline.parameterize.underscore}_stories_list" }

    - stories.each do |story|

      = content_tag_for :li, story do
        = simple_form_for story do |f|
          = link_to story, class: 'sidebar_view_story' do
            - if story.finished_at.present? && ! story.closed_at.present?
              %i.fa.fa-circle.yellow

            - elsif story.started_at.present? && ! story.closed_at.present?
              %i.fa.fa-circle.green

            = story.title

          - if epic
            = f.hidden_field :epic_order_position, value: :first
            = f.submit 'Make First', class: 'hidden'
            = link_to '#', class: 'submitForm' do
              %i.fa.fa-sort-asc
