- epic = local_assigns[:epic].present?
- more = local_assigns[:more].presence
%li
  %h2
    - session_param = headline.downcase.gsub(' ', '_')
    = form_tag :session, remote: true, method: :patch do |f|
      = hidden_field_tag :"sidebar[#{session_param}]", 'false', id: "sidebar_#{session_param}_false"
      = check_box_tag :"sidebar[#{session_param}]", 'true', session[:sidebar][session_param] == 'true', id: "sidebar_#{session_param}_true"
      = label_tag :"sidebar_#{session_param}_true", headline

  %ul{ id: "#{headline.parameterize.underscore}_stories_list", class: "#{'hide' if session[:sidebar][session_param] != 'true'}" }

    - stories.each do |story|

      = content_tag_for :li, story do
        = simple_form_for story do |f|
          = link_to story, class: 'sidebar_view_story' do
            - if story.finished_at.present? && ! story.closed_at.present?
              %i.fa.fa-circle.yellow

            - elsif story.started_at.present? && ! story.closed_at.present?
              %i.fa.fa-circle.green

            = story.title

            - if story.finished_at.present?
              %div.finished_at finished #{time_ago_in_words(story.finished_at)} ago

          - if epic
            = f.hidden_field :epic_order_position, value: :first
            = f.submit 'Make First', class: 'hidden'
            = link_to '#', class: 'submitForm' do
              %i.fa.fa-sort-asc

    - if more && more > 0
      %li.more_note
        #{more} more
