.row.story
  .large-12.columns
    .row
      .large-1.small-2.columns
        = link_to child_story_story.child_story, class: 'button tiny radius expand' do
          = child_story_story.child_story.id
      
      .large-10.small-8.columns
        %h5

          = child_story_story.child_story.title

      .large-1.small-2.columns
        = link_to '#', class: "story_menu_toggle button tiny secondary expand" do
          %i.fa.fa-sort-asc

  .story_menu
    - if false
      = link_to child_story_story, method: :delete, title: 'Prioritize' do
        %i.fa.fa-level-up
        Prioritize

    = link_to child_story_story, method: :delete, title: 'Unnest story' do
      %i.fa.fa-times
      Unnest Child

    = link_to edit_story_parent_stories_path(child_story_story.child_story), title: 'Move' do
      %i.fa.fa-arrows
      Move

    = link_to child_story_story.child_story, method: :delete, title: 'Delete Story' do
      %i.fa.fa-trash-o
      Delete Story