= div_for(unblocked_story, data: { id: unblocked_story.id }) do
  %h4
    = unblocked_story.title

    = simple_form_for unblocked_story.child_story_stories.new, remote: true do |f|
      = f.hidden_field :parent_story_id
      = f.hidden_field :child_story_id
      = f.submit 'Add Child Story', class: 'hide', data: { :'disable-with' => 'Saving...' }
      %i.fa.fa-check.showOnSuccess

  - if unblocked_story.parent_stories.any?
    %ul
      %h6 Blocks:
      = content_tag_for(:li, unblocked_story.parent_stories) do |child_story|
        = child_story.title

  = link_to 'javascript:void(0)', class: 'toggle hide' do
    %i.fa.fa-sort-asc

  = link_to 'javascript:void(0)', class: 'toggle' do
    %i.fa.fa-sort-desc