.row
  .large-4.columns
    = link_to 'New Story', new_story_path, class: 'tiny radius button'

  #stories_index.large-8.columns
    %h3 The Queue
    %dl.tabs{ data: { tab: ''} }
      %dd.active
        = link_to 'Next Up', '#unblocked_stories'
      %dd
        = link_to 'Epics', '#epic_stories'
    .tabs-content
      #unblocked_stories.content.active
        = render partial: 'unblocked_story', collection: @unblocked_stories
      #epic_stories.content
        = render partial: 'epic_story', collection: @epic_stories
