.row
  #show_story.large-12.columns
    .row
      .small-9.columns
        = simple_form_for @story do |f|
          .row
            .small-10.columns
              = f.input_field :title

            .small-2.columns
              = f.submit "Save", class: 'small button radius expand'

      .small-2.columns
        = simple_form_for @story do |f|
          - if @story.started_at.nil?
            = f.hidden_field :started_at, value: Time.new

            %button{ class: 'button small secondary radius' }
              %i.fa.fa-play
              Start

          - elsif @story.finished_at.nil?
            = f.hidden_field :finished_at, value: Time.new

            %button{ class: 'button small secondary radius' }
              %i.fa.fa-stop
              Finish

          - elsif @story.closed_at.nil?
            = f.hidden_field :closed_at, value: Time.new

            %button{ class: 'button small secondary radius' }
              %i.fa.fa-eject
              Close

          - else
            = f.hidden_field :started_at, value: ''

            = f.hidden_field :finished_at, value: ''

            = f.hidden_field :closed_at, value: ''

            %button{ class: 'button small secondary radius', title: 'Click to reset status' }
              Closed

      .small-1.columns
        = link_to @story, class: 'button small alert expand radius', title: 'Delete Story', method: :delete do
          %i.fa.fa-trash-o

    - if @unstarted_child_story_stories.any?
      %h4
        Unstarted

      = render partial: 'child_story_story', collection: @unstarted_child_story_stories
            
    - if @started_child_story_stories.any?
      %h4
        Started

      = render partial: 'child_story_story', collection: @started_child_story_stories

    %h4
      Add Sub-story
      
    = render 'story_stories/form'

    - if @finished_child_story_stories.any?
      %h4
        Finished

      = render partial: 'child_story_story', collection: @finished_child_story_stories
   
    - if @closed_child_story_stories.any?
      %h4
        Closed

      = render partial: 'child_story_story', collection: @closed_child_story_stories
