.row
  #show_story.large-12.columns
    %h3
      = @story.title

      = link_to @story, method: :delete, title: "Delete story" do
        %i.fa.fa-times
        

    - if @child_story_stories.any?

      %h4
        Sub-stories

      - @child_story_stories.each do |child_story_story|
        .row.story
          .large-12.columns
            .row
              .large-1.small-2.columns
                = link_to child_story_story.child_story, class: 'button tiny radius expand' do
                  \##{child_story_story.child_story.id}
              
              .large-10.small-8.columns
                %h5

                  = child_story_story.child_story.title

              .large-1.small-2.columns.story_menu
                = link_to '#', class: "story_menu_toggle button tiny secondary expand" do
                  %i.fa.fa-sort-asc

            .row.story_menu_menu
              .large-12.columns
                .row
                  .large-12.columns
                    = link_to child_story_story, method: :delete, title: "Unnest story", class: 'destroy_child_story_story' do
                      %i.fa.fa-level-up
                      Unnest Child

    %h4
      Add Sub-story
      
    = render 'story_stories/form'
