.row
  #show_story.large-12.columns
    .row
      .large-12.columns
        = simple_form_for @story do |f|
          .row
            .large-8.small-12.columns
              = f.input_field :title

            .large-2.small-6.columns
              = f.input :focus

            .large-2.small-6.columns
              = f.submit "Save", class: 'small button radius expand'
    .row
      .large-2.small-4.columns.end
        = simple_form_for @story do |f|
          - if @story.started_at.nil?
            = f.hidden_field :started_at, value: Time.new

            %button{ class: 'expand button small secondary radius' }
              %i.fa.fa-play
              Start

          - elsif @story.finished_at.nil?
            = f.hidden_field :finished_at, value: Time.new

            %button{ class: 'expand button small secondary radius' }
              %i.fa.fa-stop
              Finish

          - elsif @story.closed_at.nil?
            = f.hidden_field :closed_at, value: Time.new

            %button{ class: 'expand button small secondary radius' }
              %i.fa.fa-eject
              Close

          - else
            = f.hidden_field :started_at, value: ''

            = f.hidden_field :finished_at, value: ''

            = f.hidden_field :closed_at, value: ''

            %button{ class: 'expand button small secondary radius', title: 'Click to reset status' }
              Closed

      .large-2.small-4.columns.end
        = link_to @story, class: 'button small alert expand radius', title: 'Delete Story', method: :delete do
          %i.fa.fa-trash-o

      .large-2.small-4.columns.end
        = link_to edit_story_parent_stories_path(@story), class: 'button small radius expand' do
          %i.fa.fa-arrows
          Nest

    - if @unstarted_child_story_stories.any?
      %h4
        Unstarted

      = render partial: 'child_story_story', collection: @unstarted_child_story_stories

    - if @started_child_story_stories.any?
      %h4
        Started

      = render partial: 'child_story_story', collection: @started_child_story_stories

    %h4
      Add Sub-story

    = render 'story_stories/form'

    - if @finished_child_story_stories.any?
      %h4
        Finished

      = render partial: 'child_story_story', collection: @finished_child_story_stories

    - if @closed_child_story_stories.any?
      %h4
        Closed

      = render partial: 'child_story_story', collection: @closed_child_story_stories

    - if @parent_story_stories.any?
      %h4 Blocks:

      %ul#story_parent_story_stories
        - @parent_story_stories.each do |parent_story_story|
          %li
            = link_to parent_story_story.parent_story.title, parent_story_story.parent_story
