#stories_sidebar.medium-4.columns
  %header.sidebar_header
    = link_to 'Home', :root
    = link_to 'New Story', :new_story, class: 'tiny radius button'

  %ul.sidebar_content
    - if @epic_stories.any?
      = render_sidebar_index 'Focuses', @epic_stories

    - if @started_stories.any?
      = render_sidebar_index 'In Progress', @started_stories

    - if @unblocked_unstarted_stories.any?
      = render_sidebar_index 'Ready to Go', @unblocked_unstarted_stories
