#stories_sidebar.medium-4.columns
  %header.sidebar_header
    = link_to 'Home', :root
    = link_to 'New Story', :new_story, class: 'tiny radius button'

  %ul.sidebar_content
    - if @epic_stories.any?
      = render_sidebar_index 'Focuses', @epic_stories, epic: true

    - if @started_stories.any?
      = render_sidebar_index 'In Progress', @started_stories

    - if @unblocked_unstarted_stories_for_sidebar.any?
      = render_sidebar_index 'Ready to Go', @unblocked_unstarted_stories_for_sidebar, more: @unblocked_unstarted_stories_more_count_for_sidebar

    - if @recently_closed.any?
      = render_sidebar_index 'Recently Finished', @recently_closed
    
    - if @finished_last_week.any?
      = render_sidebar_index 'Finished Last Week', @finished_last_week
    
    - if @finished_unclosed.any?
      = render_sidebar_index 'Finished and Unclosed', @finished_unclosed